<div class="container" (click)="goToTournament(tournament.id)">
    <div class="image">
        <button >
           @if (isClubsTournament(tournament)) {
            Tournoi Des Clubs
           }
           @else{
            Tournoi Individuel
           }
        </button>
    </div>
    <div class="data">
        <p class="format">FORMAT : {{tournament.format}}</p>
        <h1>{{tournament.title}}</h1>
        <p>{{tournament.startDate}} - {{tournament.endDate}}</p>
        <div class="proprity">
            <button>{{tournament.type}}</button>
            <button>NIVEAU : {{tournament.level}}</button>
            
        </div>

    </div>
</div>