<div class="card">
    <div class="hero">
        <h1>Round {{stage.roundNumber}}</h1>
        <button>{{stage.status}}</button>
    </div>
    <div class="data">
        <p>Date de début :<span>{{stage.startDate}}</span></p>
        <p>Type : <span>{{stage.type}}</span></p>
        <p>Level: <span>{{stage.level}}</span></p>
        <p>Defies: <span></span></p>
        @if (stage.challenges) {
            <p>Defies: <span>{{stage.challenges.length}}</span></p>
        }
        <p>ID: <span>#{{stage.id}}</span></p>
    </div>
    <div class="actions">
        <div></div>
        <div>
            <button class="u"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 9a8 8 0 1 0 2 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20 5v4h-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              </button>
        <button class="d"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 7h12m-9 0V5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2m2 0v12a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V7h12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 11v6m4-6v6" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
          </button>
        </div>
    </div>
</div>