
@if (flashMessge ) {
    <div class="flash">
     <app-flash-message [message] ="flashMessge" />
    </div>
 }
 <div class="card">
    <h1>Rejoindre la communauté</h1>
    <form action=""  [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="image">
            <label>Image de profil :</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
            <p *ngIf="uploading">📤 Upload en cours...</p>
           
        </div>
       
            <div class="field">
                <label for="">Prénom</label>
                <input type="text" id="firstname" formControlName="firstname">
                <p *ngIf="signupForm.get('firstname')?.touched && signupForm.get('firstname')?.invalid" class="error">
                    Prénom est Obligatoire
                </p>  
            </div>
            <div class="field">
                <label for="">Nom</label>
                <input type="text" id="lastname" formControlName="lastname">
                <p *ngIf="signupForm.get('lastname')?.touched && signupForm.get('lastname')?.invalid" class="error">
                    Nom est Obligatoire
                </p>  
            </div>
    
        
            <div class="field">
                <label for="">Email</label>
                <input type="email" id="email" formControlName="email">
                <p *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="error">
                    Email est Obligatoire
                </p> 
            </div>
            <div class="field">
                <label for="">Vous etes</label>
                <select name="" id="" (change)="changeRole($event)">
                    <option value="P">Joueur</option>
                    <option value="A">Arbitre</option>
                </select>
            </div>

           
      
     
            <div class="field">
                <label for="">Mot De Pass</label>
                <input type="password" id="password" formControlName="password">
                <p *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="error">
                    Au moin 8 caractères
                </p> 
            </div>
            <div class="field">
                <label for="">Confirmer le mdp</label>
                <input type="password" id="cpassword" formControlName="cpassword"> 
                <p *ngIf="signupForm.get('cpassword')?.touched && signupForm.get('cpassword')?.invalid" class="error">
                    Les 2 mdp ne sont pas compatibles
                </p> 
            </div>
           
            <div class="field">
                <label for="">CIN</label>
                <input type="text" formControlName="cin">
              
              
                <p *ngIf="signupForm.get('cin')?.touched && signupForm.get('cin')?.invalid" class="error">
                   EX : M12235
                </p> 
            </div>
      
  
            <div class="field">
                <label for="">Niveau</label>
                <select name="" id="" formControlName="level"> 
                    <option value="ADVANCED">Avancé</option>
                    <option value="INTERMEDIATE">Intermédiaire</option>
                    <option value="BEGINNER">Débutant</option>
                </select>
                <p *ngIf="signupForm.get('level')?.touched && signupForm.get('leve')?.invalid" class="error">
                    Niveau est Obligatoire
                </p> 
            </div>
            <div class="field">
                <label for="">Ville</label>
                <select name="" id="" formControlName="city_id">
                    <option value="">----- LA ville SVP! -----</option>
                    @for (city of cities; track city.id) {
                        <option value="{{city.id}}">{{city.name}}  -- {{city.region}}</option>
                    }
             
                </select>
                <p *ngIf="signupForm.get('city_id')?.touched && signupForm.get('city_id')?.invalid" class="error">
                    Ville est Obligatoire
                </p> 
            </div>
            <div></div>
            <div>@if (errorMessage ) {
                <p>{{errorMessage }}</p>
                }</div>
            <div class="sub">
                <button type="submit">S'inscrire</button>
            </div>
  

    </form>
    
</div>