<div class="container">
    <div class="logo"> 
        <img src="assets/images/logo.png" alt="">
        <h1>
            BOULE  D'OR
        </h1>
    </div>
    <nav>
        <a href="">ACCUEIL</a>
        <a href="">TOURNOIS</a>
        <a href="">CALENDRIER</a>
        <a href="">JOUEURS</a>
        <a href="">RÈGLES</a>
        <a href="">CLUBS</a>
        <a href="">À PROPOS</a>
    </nav>
    <div>
        <button class="login">LOGIN</button>
        <button class="register">REGISTER</button>
    </div>
</div>