<div class="container">
    <div class="logo"> 
        <img src="assets/images/logo.png" alt="">
        <h1>
            BOULE  D'OR
        </h1>
    </div>
    <nav>
        <a routerLink="">ACCUEIL</a>
        <a routerLink="/tournaments">TOURNOIS</a>
        <a routerLink="">CALENDRIER</a>
        <a routerLink="/players">JOUEURS</a>
        <a routerLink="">RÈGLES</a>
        <a routerLink="">CLUBS</a>
        <a routerLink="">À PROPOS</a>
    </nav>
    <div>
        <button class="login">LOGIN</button>
        <button class="register">REGISTER</button>
    </div>
</div>