<div class="card">
    <div class="card-header">
      <h2>Joueurs inscrits</h2>
      <p class="subtitle">Liste des {{players.length}} joueurs participant au tournoi</p>
    </div>
    <div class="card-content">
      <table class="players-table">
        <thead>
          <tr>
            <th>Joueur</th>
            <th>Niveau</th>
           
            <th>Club</th>
          </tr>
        </thead>
        <tbody>
         @for (data of players; track data.player.id) {
            <tr >
                <td>--</td>
                <td>
                  <div class="player-info">
                    <div class="avatar">
                      <img [src]="" [alt]="">
                    </div>
                    <span>{{data.player.firstname}}  {{data.player.lastname}}</span>
                  </div>
                </td>
                <td>{{data.player.level}} </td>
                <td>{{data.player.club?.name}}</td>
              </tr>
         }
        </tbody>
      </table>
    </div>
  </div>
  
  