<div class="card">
    <div class="card-header">
      <h2>Joueurs inscrits</h2>
      <p class="subtitle">Liste des 10 joueurs participant au tournoi</p>
    </div>
    <div class="card-content">
      <table class="players-table">
        <thead>
          <tr>
            <th>Joueur</th>
            <th>Niveau</th>
           
            <th>Club</th>
          </tr>
        </thead>
        <tbody>
         @for (item of [1,2,3,4,5,6,7]; track $index) {
            <tr >
                <td>1</td>
                <td>
                  <div class="player-info">
                    <div class="avatar">
                      <img [src]="" [alt]="">
                    </div>
                    <span>Mouhamed Alaoui</span>
                  </div>
                </td>
                <td>Debutant</td>
                <td>Club Pool Academy</td>
              </tr>
         }
        </tbody>
      </table>
    </div>
  </div>
  
  