
@if (displayAddForm ) {
    <div class="overlay">
        <button class="close-btn" (click)="displayAddForm=false">X</button>
        <div class="modal">
         <app-stage-request  [action]="'ADD'" [tournamentId]="selectedtournament?.id"/>
        </div>
    </div>
}
<div class="page">
    <div class="hero">
        <div class="title">
            <h1>Gestion des Phases de tournois</h1>
        <p>Chaque coup compte, chaque tournoi écrit l'histoire.</p>
        </div>
    </div>
    <div class="select_tournament">
        <label for="">Sélectionner un tournoi</label>
        <select name="" id="" (change)="changeTournament($event)">
            <option value="">-------Choisir le Tournoi-------</option>
            @for (it of iTournaments; track it.id) {
            <option value="{{it.id}}">(Individuel) {{it.title}}</option>
        }
        @for (ct of cTournaments; track ct.id) {
            <option value="{{ct.id}}">(Club) {{ct.title}}</option>
        }
        </select>
    </div>
@if (selectedtournament) {

    <div class="tournament">
        <h1>{{selectedtournament.title}} <span>{{selectedtournament.status}}</span></h1>
        <div class="tournament_data">
            <p>
                Date De Debut : <span>{{selectedtournament.startDate}}</span>
            </p>
            <p>
                Date De fin : <span>{{selectedtournament.endDate}}</span>
            </p>
            <p>
                Type : <span>{{selectedtournament.type}}</span>
            </p>
            <p>
                Format : <span>{{selectedtournament.format}}</span>
            </p>

        </div>
       
    </div>
    <div class="stages">
        <div class="stages_hero">
         <h1>Phases:</h1>
         <button (click)="displayAddForm=true">
             <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8 2v12m-6-6h12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
               </svg>
               Ajouter Phase</button>
        </div>
        @if (!selectedtournament.stages) {
         <div class="empty">
             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"/>
                 <path d="M5 5l14 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
               </svg>
 <h1>Tournoi sans phase</h1>              
         </div>
     }@else {
        <div class="stages_display">
            @for (stage of selectedtournament.stages; track $index) {
                <app-dashboard-stage-card [stage]="stage" />
            }
        </div>

     }
       
        
       
      
     </div>
 

}
  

</div>