@if (displayAddForm ) {
   <div class="overlay">
       <button class="close-btn" (click)="displayAddForm=false">X</button>
       <div class="modal">
         <app-challege-request-card [stage]="stage!" [t]="t" [tournamentID]="tournamentID" />
       </div>
   </div>
}
<div class="container">
   <div class="hero">
    <h1>Liste Des Defies de phase : </h1>
    <button  (click)="displayAddForm=true">Ajouter Defie</button>
   </div>
   <div class="challenges">
      @for (ch of stage.challenges; track $index) {
         <!-- <app-dashboard-challenge-card [challenge]="ch" /> -->
      }
   </div>

</div>