.page{
    background-color: rgb(31, 31, 31);
    max-height: 100vh;
    width: 80vw;
    padding: 2rem;
    overflow-y:scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    width: 50vw;
    

}
.type button{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 1rem;
    background-color: rgb(49, 49, 49);
    border: none;
    cursor: pointer;
}
.type button:hover{
    background-color: aliceblue;
}
.active{
    background-color: aliceblue !important;
}

.next{
    background-color: rgb(0, 94, 0);
    padding: .4rem 1rem;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: .3rem;
    cursor: pointer;
}
.next:hover{
    background-color: rgb(23, 109, 23);
  
}

.re{
    background-color: rgb(11, 72, 112);
    padding: .4rem 1rem;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: .3rem;
    cursor: pointer;
}

.ne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2rem auto;

}



.hero{
    color: white;
    border-bottom: white solid 1px;
    

}
.hero h1{
    padding: 1rem 0;
}


.type button svg{
    width: 30%;
    color: rgb(32, 32, 32);
 
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 80%;
    margin: auto;
  }

  form h1{
    color: white;
  }
  

.group1, .group2, .group3{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 2rem;
   
}

.field{
    display: flex;
    flex-direction: column;
    width: 100%;

}

input, select, textarea{
    background-color: rgb(51, 51, 51);
    border-radius: .4rem;
    padding: .5rem 1rem;
    color: white;
    border: rgb(110, 110, 110) solid 1px;
  
}

label{
    color: white;
    margin-bottom: .5rem;
}

.group3{
    border-bottom: white solid 1px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.steps{
  
    width: 100%;
}