<div class="page">

<div class="steps">
    @switch (step) {
        @case (1) {
            <div class="type">
                <button  [ngClass]="type == 'INDIVIDUEL' ? 'active' : ''"  (click)="type = 'INDIVIDUEL'">
                    <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="8" r="4" fill="currentColor"/>
                        <path d="M4 20v-2a6 6 0 0 1 12 0v2H4Z" fill="currentColor"/>
                      </svg>
                      
                    Tournoi Individuel
                </button>
                <button [class.active]="type == 'CLUBS'" (click)="type = 'CLUBS'">
                    <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9" cy="7" r="3" fill="currentColor"/>
                        <circle cx="17" cy="7" r="3" fill="currentColor"/>
                        <path d="M3 20v-2a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2H3Zm10 0v-2a6 6 0 0 1 6-6h2v8h-8Z" fill="currentColor"/>
                      </svg>
                      
                      
                    Tournoi Des Clubs
                </button>
            </div>
            
    
        }
        @case (2) {
            <app-dashboard-tournament-request-details (nextEvent)="next()"  />
        }
        @case (3) {
           @if (type == "CLUBS") {
            <app-dashboard-tournament-teams   (nextEvent)="next()"/>
           }@else {
            <app-dashboard-tournament-players   (nextEvent)="next()"/>
           }
        }
        @case (4) {
            @if (type == "CLUBS") {
                <app-dashboard-tournament-players  (nextEvent)="next()"/>

               }@else {
                <app-dashboard-tournament-hosting-club  (nextEvent)="next()"/>

                
               }
        }
        @case (5) {
            @if (type == "CLUBS") {
                <app-dashboard-tournament-hosting-club  (nextEvent)="next()"/>
               }@else {
                <app-tournament-request-recup />
                
                
               }


        }
        @case (6) {
            @if (type == "CLUBS") {
                <app-tournament-request-recup />
               }@else {
                
                
                
               }
        }
        
    }
</div>

<div class="ne">
   @if (step!=1) {
    <button class="re" (click)="prev()">Retour</button>
   }
   @else {
    <div></div>
   }
    @if (step == 1) {
        <button class="next" (click)="next()">Suivant</button>
    }
</div>
</div>
<!-- 

<div class="page">
    <div class="hero">
        <h1>Creer un Tournoi</h1>
    </div>
    <div class="add">
        <div class="type">
            <button  [ngClass]="type == 'individuel' ? 'active' : ''"  (click)="type = 'individuel'">
                <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="8" r="4" fill="currentColor"/>
                    <path d="M4 20v-2a6 6 0 0 1 12 0v2H4Z" fill="currentColor"/>
                  </svg>
                  
                Tournoi Individuel
            </button>
            <button [class.active]="type == 'clubs'" (click)="type = 'clubs'">
                <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="7" r="3" fill="currentColor"/>
                    <circle cx="17" cy="7" r="3" fill="currentColor"/>
                    <path d="M3 20v-2a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2H3Zm10 0v-2a6 6 0 0 1 6-6h2v8h-8Z" fill="currentColor"/>
                  </svg>
                  
                  
                Tournoi Des Clubs
            </button>
        </div>
        <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
            <h1>Informations Générales</h1>
            <div class="group1">
                <div class="field">
                    <label for="">Titre du tournoi</label>
                    <input type="text" id="title" formControlName="title">
                    <div *ngIf="tournamentForm.get('title')?.touched && tournamentForm.get('title')?.invalid" class="error">
                        Obligatoire min 3
                    </div>  
                    
                </div>
                <div class="field">
                    <label for="">Type du tournoi</label>
                    <select name="" id="type" (change)="changeTournamentType($event)"  formControlName="type">
                        <option value="NATIONAL">NATIONAL</option>
                        <option value="REGIONAL">REGIONAL</option>
                        <option value="CITY_LEVEL">CITY_LEVEL</option>
                       @if (type != "clubs") {
                        <option value="CLUB_LEVEL">CLUB_LEVEL</option>
                       }
                    </select>
                </div>
            
               @if (tournamentType != "NATIONAL") {
                <div class="field">
                    <label for="">
                        @if (tournamentType == "REGIONAL") {
                            Region
                        }
                        @if (tournamentType == "CITY_LEVEL") {
                            Ville
                        }
                        @if (tournamentType == "CLUB_LEVEL") {
                            Club
                        }
                    </label>
                    <select name="" id=""  (change)="changeRegion($event)" >
                            
                        @if (tournamentType == "REGIONAL") {
                            @for (region of regions; track $index) {
                                <option value="{{region}}">{{region}}</option>
                            }
                        }
                        @if (tournamentType == "CITY_LEVEL") {
                            @for (city of cities | async; track city.id) {
                                <option value="{{city.id}}">{{city.name}}</option>
                            }
                        }
                        @if (tournamentType == "CLUB_LEVEL") {
                            @for (club of clubs | async; track club.id) {
                                <option value="{{club.id}}">{{club.name}}</option>
                            }
                        }
                    </select>
                </div>
               }
               
               

                <div class="field">
                    <label for="">Mode</label>
                    <select name="" id="mode" formControlName="mode">
                        <option value="A5_A7_A9">A5_A7_A9</option>
                        <option value="A5_A5_A7">A5_A5_A7</option>
                        <option value="A3_A5_A7">A3_A5_A7</option>
                        <option value="A5_A7_A11">A5_A7_A11</option>
                        <option value="A4_A6_A8">A4_A6_A8</option>
                        <option value="A6_A7_A9">A6_A7_A9</option>
                        <option value=" A5_A6_A10"> A5_A6_A10</option>
                        <option value="A4_A5_A9">A4_A5_A9</option>
                        <option value="A11_A13_A15">A11_A13_A15</option>
                    </select>
                </div>
            </div>
            <div class="group2">
                <div class="field">
                    <label for="">Date de Debut</label>
                    <input type="date" id="startDate" formControlName="startDate">
                    <div *ngIf="tournamentForm.get('startDate')?.touched && tournamentForm.get('startDate')?.invalid" class="error">
                        <span *ngIf="tournamentForm.get('startDate')?.errors?.['required']">Date de début est obligatoire.</span>
                        <span *ngIf="tournamentForm.get('startDate')?.errors?.['invalidStartDate']">La date de début doit être aujourd'hui ou plus tard.</span>
                      </div>
                </div>
                <div class="field">
                    <label for="">Date de Fin</label>
                    <input type="date" id="endDate" formControlName="endDate">
                    <div *ngIf="tournamentForm.get('endDate')?.touched && tournamentForm.get('endDate')?.invalid" class="error">
                        <span *ngIf="tournamentForm.get('endDate')?.errors?.['required']">Date de fin est obligatoire.</span>
                        <span *ngIf="tournamentForm.get('endDate')?.errors?.['invalidDate']">Date de fin doit être après la date de début.</span>
                      </div>
                </div>
               
                <div class="field">
                    <label for="">Format</label>
                    <select name="" id="format"formControlName="format" >
                        <option value="POINT_BASED">Poins</option>
                        <option value="KNOCKOUT">Qualification</option>
                    </select>
                </div> 
                <div class="field">
                    <label for="">Niveau</label>
                    <select name="" id="level"  formControlName="level">

                        <option value="INTERMEDIATE">INTERMEDIATE</option>
                        <option value="BEGINNER">BEGINNER</option>
                        <option value="ADVANCED">ADVANCED</option>
                        <option value="ALL">ALL</option>
                    </select>
                </div> 
            </div>
            <div class="group3">
                <div class="field">
                    <textarea name="prize" id="" placeholder="Prix et honneurs" formControlName="prize"></textarea>
                </div>
                <div class="field">
                    <textarea name="rules" id="" placeholder="Règles générales" formControlName="rules"></textarea>
                </div>
                <div class="field">
                   
                </div>
            </div>
            @if (type == 'clubs') {
                <app-dashboard-tournament-teams />


    
            }
            <app-dashboard-tournament-players />
           <app-dashboard-tournament-hosting-club />

           


            <button type="submit" [disabled]="tournamentForm.invalid">Submit</button>
        </form>
    </div>
</div> -->