.page{
    background-color: rgb(31, 31, 31);
    max-height: 100vh;
    width: 80vw;
    padding: 2rem;
    overflow-y:scroll;
}

.hero{
    color: white;
    border-bottom: white solid 1px;
    

}
.hero h1{
    padding: 1rem 0;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    

}
.type button{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 1rem;
    background-color: rgb(49, 49, 49);
    border: none;
    cursor: pointer;
}
.type button:hover{
    background-color: aliceblue;
}
.active{
    background-color: aliceblue !important;
}


.type button svg{
    width: 30%;
    color: rgb(32, 32, 32);
 
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 80%;
    margin: auto;
  }

  form h1{
    color: white;
  }
  

.group1, .group2, .group3{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 2rem;
   
}

.field{
    display: flex;
    flex-direction: column;
    width: 100%;

}

input, select, textarea{
    background-color: rgb(51, 51, 51);
    border-radius: .4rem;
    padding: .5rem 1rem;
    color: white;
    border: rgb(110, 110, 110) solid 1px;
  
}

label{
    color: white;
    margin-bottom: .5rem;
}

.group3{
    border-bottom: white solid 1px;
}

.players, .teams{
    background-color: rgb(51, 51, 51);
    padding: 1rem 1rem;
    border-radius: 1rem;

}

.players-hero, .teams-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.players-actions button{
    padding: .5rem 1rem;
    margin-left: 1rem;
    
}
.teams-actions button{
    
    padding: .5rem 1rem;
    margin-left: 1rem;
}

.add-player, .add-team{
    padding: .5rem 1rem;
    background-color: white;
    border-radius: .5rem;
    border: none;
    color: rgb(49, 49, 49);
    font-weight: bold;
    border: rgb(34, 34, 34) solid 1px;

}

.display-players, .display-teams{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 2rem;
}
