<div class="hosting-club">
    <div class="hosting-hero">
        <h1>Club d'accueil</h1>
       
        <div class="hosting-actions">
            <button type="button">Automatique</button>
            <button type="button">Manuel</button>
        </div>

      
        <button type="button" class="hosting" >
            Ajouter
        </button>
    
     
       </div>
       <div class="display-hosting">
        <div *ngIf=""></div>
        
     <!-- @if (hostingClub) {
        <app-dashboard-club-card [club]="hostingClub" (deleteEvent)="hostingClub = undefined"[action]="'DELETE'"  />
     } -->
    </div>
    </div>